/* line 1, ../../../app/stylesheets/layout.sass */
body {
  margin: 0px;
  padding: 0px; }

/* line 5, ../../../app/stylesheets/layout.sass */
.hidden_images {
  display: none; }

/* line 8, ../../../app/stylesheets/layout.sass */
.js-background_image {
  height: 500px;
  width: 100%;
  display: block;
  background-color: gray; }

/* line 15, ../../../app/stylesheets/layout.sass */
.js-left_arrow, .js-right_arrow {
  width: 50%;
  height: 500px;
  z-index: 100; }

/* line 20, ../../../app/stylesheets/layout.sass */
.js-left_arrow {
  position: absolute;
  top: 0px;
  left: 0px; }

/* line 25, ../../../app/stylesheets/layout.sass */
.js-right_arrow {
  position: absolute;
  top: 0px;
  right: 0px; }
