.menu.show_thumbnails
  / .menu_item.baby.show_thumbnails
  /   %a.show_thumbnails.hide_thumbnails{ :href => "#menu=baby-cook_13417128"}
  /     Baby Cook
  .menu_item.family.show_thumbnails
    %a.show_thumbnails.hide_thumbnails{ :href => "#menu=family_13202955"}
      Family
  .menu_item.children.show_thumbnails
    %a.show_thumbnails.hide_thumbnails{ :href => "#menu=children_13202999"}
      Children
  .menu_item.seniors.show_thumbnails
    %a.show_thumbnails.hide_thumbnails{ :href => "#menu=seniors_13202984"}
      Seniors
  .menu_item.scenic.show_thumbnails
    %a.show_thumbnails.hide_thumbnails{ :href => "#menu=scenic_13415038"}
      Scenic

  .menu_item.pricing.show_thumbnails
    %a.show_thumbnails.hide_thumbnails{ :href => "#popdown=pricing", "menu_size" => "300", "menu_div" => "#pricing_menu"}
      Pricing
  .menu_item.contact.show_thumbnails
    %a.show_thumbnails.hide_thumbnails{ :href => "#popdown=contact", "menu_size" => "250", "menu_div" => "#contact_menu"}
      Contact
