.js-background_image

.header
  .logo
    %a{ :href => "/"}
      %img{ :src => "/images/dc_logo1.png"}
  = render :partial => "main_menu"
  
.js-left_arrow
  %a{:href => "#"}
    %img{:src => "images/transparent.png"}
.js-right_arrow
  %a{:href => "#"}
    %img{:src => "images/transparent.png"}
    
.info.bottom 
  %h1
    &copy David Cook
    
.thumbnails_hover_panel.show_thumbnails
  %img{:src => "images/transparent.png"}
.thumbnails_background.hide_thumbnails
  .thumbnails_container 
    = render :partial => "thumbnails", :locals => {:images => @images}
    
.text_wrapper
  .text_body
    here is some text
  .text_footer
  

.hidden_images
  = render :partial => "hidden_images", :locals => {:images => @images}

.loading_wrapper
  .loading
    %img.c{ :src => "/images/c.gif"}
    %img.d{ :src => "/images/d.png"}
    %img.background{ :src => "/images/loading_background.png"}

.hidden_menu_items
  #contact_menu
    %h2
      Contact Me
    
    .email.my_cufon
      %h3
        %a{ :href => "mailto:david_cook@byu.edu"}
          david_cook@byu.edu
    .phone.my_cufon
      %h3
        269-370-4760
    .instance_message.my_cufon
      %h3
        Chat
      .items  
        google: smcdrc@gmail.com
        %br
        yahoo: drc37@yahoo.com
        %br
        skype: smcdrc
    .blog.my_cufon
      %h3
        %span
          %a{ :href => "http://photosbycook.blogspot.com/", :target => "_blank"}
            Blog
          &nbsp;&nbsp;
        %span
          %a{:href => "http://twitter.com/drc37", :target => "_blank"}
            Twitter
          &nbsp;&nbsp;
        %span
          %a{:href => "http://www.linkedin.com/in/davidrcook", :target => "_blank"}
            LinkedIn
          &nbsp;&nbsp;  
  #pricing_menu
    This is the pricing menu
    